body {
  background-color: #ECEFEE;
}

.md-toolbar {
  background-color: #FFF !important;
}

#logo {
  height: 40px;
  width: 40px;
}

md-content {
  background-color: #ECEFEE;
  padding: 10px;
}

md-dialog {
  width: 70%;
}

md-dialog-actions {
    display: none !important;
}

.search-box {
  background-color: #FFF;
  padding: 30px;
  box-shadow: 3px 3px 1px #888888;
}

/*.outer-search-results {
  padding: 0 !important;
  margin: 0 !important;
}*/

.outer-search-results {
  box-shadow: 3px 3px 1px #888888;
}

.one-result {
  background-color: #FFF;
  padding: 15px;
}

.result-name {
  font-size: 1.8em;
  font-weight: 500;
}
