h4 {
    margin-bottom: .3em;
}

md-dialog-actions {
    display: none !important;
}

.md-toolbar {
    text-align: center;
    background-color: #C04800 !important;
}

.md-icon {
    background-color: #F79400 !important;
    border-color: #F09000 !important;
}

.md-button.md-primary {
    color: #F79400 !important;
}

.beer-img {
    float: right;
    height: 10em;
    padding: 0 0 1.1em 1.1em;
}

@media screen and (max-width: 500px) {
    .hide-500 {
        display: none;
    }
    .beer-name {
        padding: 0 24px !important;
    }
}

@media screen and (max-width: 600px) {
    .hide-600 {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .hide-700 {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .hide-800 {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .hide-900 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .hide-1000 {
        display: none;
    }
}
