<section id="search-view" class="container-fluid">

    <div class="flex-content">
      <div class="col-xs-4">
        <div class="search-box">
          Select what you're searching for:
          <form>
            <label class="radio-inline">
              <input ng-click="changeText('people')" type="radio" name="optradio"> People
            </label>
            <label class="radio-inline">
              <input ng-click="changeText('movies')" type="radio" name="optradio"> Movies
            </label>
            <div class="form-group">
              <input ng-model="query" type="text" class="form-control" id="query" placeholder={{placeholderText}}>
            </div>
            <button ng-click="searchSwapi()" type="button" class="btn btn-default">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div class="flex-content">
      <div class="col-xs-8 outer-search-results">
        <div class="row one-result" ng-repeat="x in data">
          <div class="col-xs-9 result-name"><a ng-click="popInfo(x)">{{x.name}}</a></div>
          <div class="col-xs-3"><button ng-click="popInfo(x)" type="button" class="btn btn-default">See Details</button></div>
        </div>
      </div>
    </div>

</section>
